<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/images/icons/desktop-icons/taskmgr.ico">
        <script src="script.js"></script>
        
        <!-- TAGS -->
        <meta name="description" content="Nichekid - NK's site full of art, resources and funky stuff!">
        <meta property="og:url" content="https://nichekid.nekoweb.org/index.html">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Nichekid">
        <meta property="og:description" content="Nichekid - NK's site full of art, resources and funky stuff!">
        <meta property="og:image" content="https://nichekid.nekoweb.org/images/nk-site-2026-aug.webp">
        <!-- Twitter Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="nichekid.nekoweb.org">
        <meta property="twitter:url" content="https://nichekid.nekoweb.org/index.html">
        <meta name="twitter:title" content="Nichekid">
        <meta name="twitter:description" content="Nichekid - NK's site full of art, resources and funky stuff!">
        <meta name="twitter:image" content="https://nichekid.nekoweb.org/images/nk-site-2026-aug.webp">
        <meta name="og:site_name" content="Nichekid">
        <meta name="theme-color" content="#9900ff">
        <!-- Made with love and with https://oliverspace.neocities.org/embedgenerator -->
    </head>
    <body class="indexmain">
        <header>
         {% include 'navigation.njk' %}
         </header>
         <main>
            {{ content | safe }}
         </main>
         {% include 'footer.njk' %}
    </body>
    </html>