<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="script.js"></script>
        
    </head>
    <body class="indexmain">
        <header>
         {% include 'navigation.njk' %}
         </header>
         <main>
            {{ content | safe }}
         </main>
         {% include 'footer.njk' %}
    </body>
    </html>