---
layout: base.njk
---


<article>
    <div class="text-stuff maincontainer">
        <div class="maincontentboxes">
            <div class="maincontainbox blog-text">
                <br>
                <a class="text-stuff navitem" href="/index/">Go back</a>
                <h1>{{ title }}</h1>
                 {{ content | safe }}
            </div>
        </div>
    </div>
</article>