        <footer class="footer">
            <p><span>&copy;</span>NK | Est. 2026
                <br>
                <img src="/images/cool-graphics/Splatoon/Signage/S3_Sticker_CTNGR8_sign.png" width="8%">
                <br>
            </p>
        </footer>