            <nav class="navcontainermain">
                <div class="navcontainer">
                    <a class="navitem" href="/index/">home</a>
                    <a class="navitem" href="/about/">about</a>
                    <a class="navitem" href="/gallery/">gallery</a>
                    <a class="navitem" href="/projects/">projects</a>
                    <a class="navitem" href="/resources/">resources/guides</a>
                    <a class="navitem" href="/tributes/">tributes</a>
                    <a class="navitem" href="/more/">more</a>
                </div>
            </nav>