            <nav class="navcontainermain">
                <div class="navcontainer">
                    <a class="navitem" href="/index.html">home</a>
                    <a class="navitem" href="/not_found/"><s>about</s></a>
                    <a class="navitem" href="/gallery/">gallery</a>
                    <a class="navitem" href="/not_found/"><s>projects</s></a>
                    <a class="navitem" href="/resources/">resources/guides</a>
                    <a class="navitem" href="/not_found/"><s>tributes</s></a>
                    <a class="navitem" href="/more/">more</a>
                </div>
            </nav>