            <nav class="navcontainermain">
                <div class="navcontainer">
                    <a class="navitem" href="/index/">home</a>
                    <a class="navitem" href="/about/"><s>about</s></a>
                    <a class="navitem" href="/gallery/">gallery</a>
                    <a class="navitem" href="/projects/"><s>projects</s></a>
                    <a class="navitem" href="/resources/">resources/guides</a>
                    <a class="navitem" href="/tributes/"><s>tributes</s></a>
                    <a class="navitem" href="/more/">more</a>
                </div>
            </nav>