---
layout: base.njk
---

    <div class="text-stuff maincontainer">
        <div class="maincontentboxes">
            <div class="maincontainbox linkitem hover-img">
                <br>
                <a class="text-stuff navitem" href="/resources/">Go back</a>
                 {{ content | safe }}
            </div>
        </div>
    </div>
