/* HEYO!! whatcha doin snooping round here?? no worries, feel free to take inspiration and copy and paste code if you want! just let me know if you make something cool with it! */
@font-face {
    font-family: NintendoDS;
    src: url(/font/nintendo-ds/nintendo-ds.otf);
}

body {
  background-image: url(backgrounds/bg1.PNG);
  font-family: NintendoDS, sans-serif;
  background-attachment: no-scroll;
  background-color: rgb(12, 19, 51);
  
}


/* nav */

.navcontainermain {
    display: flex;
    justify-content: center;
    width: auto;
    
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    width: 432px;
    
}

.navitem {
    color: chartreuse;
    
}

.navitem:hover {
    color: aliceblue;
    text-shadow: 0 0 9px aliceblue;
}

.navitem:active {
    color: #ff00dd;
    text-shadow: 0 0 9px aliceblue;
}


/*       index                      */

/* FOR MARQUEE BECAUSE FIREFOX KILLED IT RIP MY BELOVED. code provided by wikipedia */

/*@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-container {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: marquee 10s linear infinite;
}

.marquee-content {
    display: inline-block;
}*/

/* END FOR MARQUEE */

/* index | main  */

#statuscafe {
    padding: .5em;
    border: none;
    box-shadow: none;
}
#statuscafe-username {
    margin-bottom: .5em;
    
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

.scrollable {
    overflow: auto;
    height: 80%;
    margin-left: 15px;
    margin-right: 15px;
}



.indexpgboxes {
    display: grid;
    margin: auto;
    width: 90%;
    max-width: 900px;
    min-width: 550px;
    padding: 23px;
    grid-template-areas:
        "extrasidebar welcomebox miniaboutme"
        "status bloglist socials"
        "status bloglist sites";
    grid-template-columns: 18% 60% 18%;
    gap: 15px;
    
    
}

.indexpgboxes a {
    color: chartreuse;
}

.indexpgboxes a:hover {
    color: aliceblue;
    text-shadow: 0 0 9px chartreuse;
}

.indexpgboxes a:active {
    color: #ff00dd;
    text-shadow: 0 0 9px aliceblue;
}

.indexpgboxes hr {
    color: white;
}


.indexpgboxes div {
    background-color: rgba(21, 6, 38, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: .5px solid #a7a7c5;
    color: aliceblue;
    text-align: center;
    box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.5);
    
}

.indexpgboxes h1 {
    text-shadow: 0 0 1px #faff00, 0 0 8px #ff00dd;
    margin: 20px;
}

.indexpgboxes h2 { 
    text-shadow: 0 0 1px #faff00, 0 0 5px #ff00dd;
    margin: 20px;
}

.indexpgboxes div.extrasidebar {
    grid-area: extrasidebar;
}

.indexpgboxes div.welcomebox {
    grid-area: welcomebox;
    
}

.indexpgboxes div.sites {
    grid-area: sites;
    
}

.indexpgboxes div.status {
    grid-area: status;
    
}

.indexpgboxes div.miniaboutme {
    grid-area: miniaboutme;
}

.indexpgboxes div.bloglist {
    grid-area: bloglist;
}

.welcomebox p {
    margin: 25px 26px;
}

.bloglist iframe {
    border: none;
    width: 100%;
    height: 100%;
}





.miniaboutme p {
    line-height: 14px;
    margin-left: 14px;
    margin-right: 14px;
}


/* index | footer */

.footer {
    color: aliceblue;
    text-align: center;
}

.footer span {
    font-size: small
}

/*          not_found                  */

.not-found {
    background-color: rgb(34, 42, 82);
    font-family: NintendoDS;
    color: aliceblue;
}


/*            Gallery                       */


/* 

.gallerybody {
    background: url(art/IMG_4729.webp);
    background-size: 100% 100%;
    
}
*/


.gallerypg img:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.galleypg img:active {
    mix-blend-mode: multiply;
}


.gallerypgmain {

    width: 85%;
    margin: 40px auto;
    
}

.gallerypgbox {
    margin: auto;
    display: flex;
    gap: 10px;
    width: 70%;
    max-width: 900px;
    min-width: 550px;
    
}

.galleryheader h1 {
    text-shadow: 0 0 1px #faff00, 0 0 5px #ff00dd;
    margin: 15px;
}

.galleryheader {
    background-color: rgba(12, 2, 24, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: .5px solid #a7a7c5;
    color: aliceblue;
    text-align: center;
    box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.5);
    display: flex; 
    flex-direction: column;
    height: 50%;
    width: 25%;
    max-width: 300px;
    padding: 5px;
    
}

.galleryallimgs {
    padding: 10px;
    background-color: rgba(12, 2, 24, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: .5px solid #a7a7c5;
    color: aliceblue;
    text-align: center;
    box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.5);
    width: 70%;
    max-width: 650px;
}

.gallerygrid {
    display: flex;
}



/* Blog */

div.blog {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(12, 2, 24, 0.5);
    padding: 10px;
}
.blog {
    color: aliceblue;
   
}

