/* HEYO!! whatcha doin snooping round here?? no worries, feel free to take inspiration and copy and paste code if you want! just let me know if you make something cool with it! */
@font-face {
    font-family: NintendoDS;
    src: url(/font/nintendo-ds/nintendo-ds.otf);
}

body {
  background-image: url(backgrounds/bg1.PNG);
  font-family: NintendoDS;
  background-attachment: no-scroll;
  background-color: rgb(12, 19, 51);
  
}

/*       index                        */


/* index | nav */

.navcontainermain {
    display: flex;
    justify-content: center;
    width: auto;
    
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    width: 432px;
    
}

.navitem {
    color: chartreuse;
    
}

.navitem:hover {
    color: aliceblue;
    text-shadow: 0 0 9px aliceblue;
}

.navitem:active {
    color: #ff00dd;
    text-shadow: 0 0 9px aliceblue;
}

/* index | main  */

.indexpgboxes {
    display: grid;
    margin: auto;
    width: 860px;
    padding: 23px;
    grid-template-areas:
        "extrasidebar blogbox miniaboutme"
        "extrasidebar blogbox miniaboutme" ;
    grid-template-columns: 170px 490px;
    gap: 15px;
    
}

.indexpgboxes a {
    color: chartreuse;
}

.indexpgboxes a:hover {
    color: aliceblue;
    text-shadow: 0 0 9px chartreuse;
}

.indexpgboxes a:active {
    color: #ff00dd;
    text-shadow: 0 0 9px aliceblue;
}

.indexpgboxes hr {
    color: white;
}

.indexpgboxes div {
    background-color: rgba(78, 47, 113, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.5);
}

.indexpgboxes h1 {
    text-shadow: 0 0 1px #faff00, 0 0 5px #ff00dd;
    
}

.indexpgboxes h2 { 
    text-shadow: 0 0 1px #faff00, 0 0 5px #ff00dd;
}

.indexpgboxes div.extrasidebar {
    grid-area: extrasidebar;
}

.indexpgboxes div.blogbox {
    grid-area: blogbox;
}

.indexpgboxes div.miniaboutme {
    grid-area: miniaboutme;
}

.miniaboutme p {
    line-height: 14px;
}


/* index | footer */

.footer {
    color: aliceblue;
    text-align: center;
}

.footer span {
    font-size: small
}

/*          not_found                  */

.not-found {
    background-color: rgb(34, 42, 82);
    font-family: NintendoDS;
    color: aliceblue;
}


/*            Gallery                       */


.gallerypg {
    color: white;
}

.gallerypgmain {
    background-color: rgb(78, 47, 113);
    width: 84%;
    margin: 40px auto;
    
}


.gallerypg img:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.galleypg img:active {
    mix-blend-mode: multiply;
}

.gallerygrid {
    display: grid;
    grid-gap: 5px;
}

.galleryheader {
    display: flex; 
    flex-direction: column;
}

.galleryheaderitem1 {
    margin: auto;
}
.galleryheaderitem2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.galleryitem2inside {
    padding-left: 100px;
}

.galleryallimgs {
    text-align: center;
}


/* Blog */

.blog {
    color: aliceblue;
}

